body {
  background-color: #f8f8f8
}

.headline {
  font-size: 36pt;
  font-family: Arial, Helvetica, sans-serif
}

.sidemenu
{
  width: 150px;
  vertical-align: top;
}

.menuOption
{
  margin-top: 2px;
  margin-bottom: 2px;
  padding: 10px;  
}

.itemIcon
{
  width: 20px;
  text-align: center;
  padding: 10px;
}

.contentBox
{
  width: 100%;
  background-color: white;
  height: 300px;
  border-radius: 8px;
  -webkit-box-shadow: 0px 4px 11px 0px rgba(219,219,219,1);
  -moz-box-shadow: 0px 4px 11px 0px rgba(219,219,219,1);
  box-shadow: 0px 4px 11px 0px rgba(219,219,219,1);
  padding-top: 1px; /* To prevent margin collapse */
}

.bold
{
  font-weight: 700;
}

.customButton
{
  color: gray;
  border: 1px solid gray;
  border-radius: 15px;
  padding: 5px;
  margin-top: 45px;
}

.floatLeft
{
  float: left;
}

.floatRight
{
  float: right;
}

.insideBox
{
  margin: 20px;  
}

.insideBox .customButton
{
  margin-right: 10px;
  margin-top: 0px;
}

.clearer{
  clear: both;
}

.toggleButton
{
  border: 1px solid rgb(0,50,102);
  border-radius: 15px;
  overflow: hidden;
  color: gray;
}
.toggleButton .active
{
  background: rgb(0,50,102);
  /*background: linear-gradient(180deg, rgba(0,50,102,1) 0%, rgba(64,134,208,1) 100%);*/
  color: white;
}

.toggleButton > div
{
  padding: 5px;
}

.positiveValue
{
  color: green;
}

